apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: auth-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: service-common-config
            - secretRef:
                name: app-config-secret
          resources:
            requests:
              memory: 512Mi
              cpu: 100m
            limits:
              memory: 768Mi
              cpu: 500m
          livenessProbe:
            httpGet:
              path: /api/v1/actuator/health/liveness
              port: 8082
            initialDelaySeconds: 120
            periodSeconds: 15
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/v1/actuator/health/readiness
              port: 8082
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 10