server:
  port: 8081

spring:
  application:
    name: auth-service
  config:
    activate:
      on-profile: default
    import: configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:5434/inno-auth-db
  cloud:
    openfeign:
      client:
        config:
          user-service:
            url: http://localhost:8080/api/v1