server:
  port: 8081
  servlet:
    context-path: /api/v1

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5434/inno-auth-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: db/changelog/db.changelog-master.yaml
  cloud:
    openfeign:
      client:
        config:
          user-service:
            url: http://localhost:8080/api/v1

jwt:
  secret: myVerySecretKeyNotLessThan32CharactersLong
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000