apiVersion: v1
kind: Secret
metadata:
  name: app-config-secret
type: Opaque
stringData:
  # postgres
  DB_USERNAME: CHANGE_ME
  DB_PASSWORD: CHANGE_ME

  # mongo
  MONGO_USERNAME: CHANGE_ME
  MONGO_PASSWORD: CHANGE_ME
  MONGO_KEY: CHANGE_ME

  # services
  SERVICES_COMMON_PATH: /api/v1

  USER_SERVICE_DOCKER_URL: http://user-service:8081
  USER_SERVICE_PATH: /api/v1/users

  AUTH_SERVICE_DOCKER_URL: http://auth-service:8082
  AUTH_SERVICE_PATH: /api/v1/auth

  ORDER_SERVICE_DOCKER_URL: http://order-service:8083
  ORDER_SERVICE_PATH: /api/v1/orders

  # kafka
  KAFKA_BOOTSTRAP_SERVER_DOCKER: kafka:9092