name: inno-microservices

services:
  postgres-1:
    image: postgres:15-alpine
    container_name: user-service-postgres
    environment:
      POSTGRES_DB: inno-users-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d inno-db"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./volumes/user-postgres/data:/var/lib/postgresql/data

  postgres-2:
    image: postgres:15-alpine
    container_name: auth-service-postgres
    environment:
      POSTGRES_DB: inno-auth-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5434:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d inno-auth-db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./volumes/auth-postgres/data:/var/lib/postgresql/data

  postgres-3:
    image: postgres:15-alpine
    container_name: order-service-postgres
    environment:
      POSTGRES_DB: inno-orders-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5435:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d inno-db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./volumes/order-postgres/data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: user-service-redis
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis/data:/data
    command: redis-server --appendonly yes

  config-server:
    build:
      context: ./config-server
      dockerfile: Dockerfile
    container_name: config-server
    ports:
      - 8888:8888
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - 8081:8081
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-1:
        condition: service_healthy
      redis:
        condition: service_started
      config-server:
        condition: service_healthy

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - 8082:8082
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-2:
        condition: service_healthy
      config-server:
        condition: service_healthy

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - 8083:8083
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-3:
        condition: service_healthy
      config-server:
        condition: service_healthy