name: inno-microservices

services:
  postgres:
    image: postgres:latest
    container_name: user-service-postgres
    environment:
      POSTGRES_DB: inno-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d inno-db"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: user-service-redis
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis/data:/data
    command: redis-server --appendonly yes

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - 8080:8080
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started