server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    activate:
      on-profile: default
    import: configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/users/**
              filters:
                - name: JwtAuthenticationGatewayFilter
            - id: auth-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - name: JwtAuthenticationGatewayFilter
            - id: order-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/orders/**
              filters:
                - name: JwtAuthenticationGatewayFilter

gateway:
  security:
    public-paths:
      - /api/v1/auth/
      - /actuator/