server:
  port: 8080

spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/v1/users/**
            - id: auth-service
              uri: http://auth-service:8082
              predicates:
                - Path=/api/v1/auth/**
            - id: order-service
              uri: http://order-service:8083
              predicates:
                - Path=/api/v1/orders/**