server:
  port: 8080

spring:
  application:
    name: user-service
  config:
    activate:
      on-profile: default
    import: configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:5433/inno-users-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: db/changelog/db.changelog-master.yaml
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    redis:
      time-to-live: 24h