server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5433/inno-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: db/changelog/db.changelog-master.yaml
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    redis:
      time-to-live: 24h

jwt:
  secret: myVerySecretKeyNotLessThan32CharactersLong
  access-token-expiration: 3600000
  refresh-token-expiration: 604800000