server:
  port: 8080

spring:
  application:
    name: user-service
  config:
    activate:
      on-profile: default
    import: configserver:http://localhost:8888
  datasource:
    url: jdbc:postgresql://localhost:5433/inno-users-db
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    redis:
      time-to-live: 24h