spring:
  datasource:
    url: jdbc:postgresql://order-service-postgres:5432/inno-orders-db
    username: postgres
    password: postgres
  cloud:
    openfeign:
      client:
        config:
          user-service:
            url: http://user-service:8080/api/v1