server:
  port: 8083

spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888
  datasource:
    url: jdbc:postgresql://order-service-postgres:5432/inno-orders-db
    username: postgres
    password: postgres
  cloud:
    openfeign:
      client:
        config:
          user-service:
            url: http://user-service:8081/api/v1